   body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
        }

        .container {
            width: 90%;
            margin: 0 auto;
            overflow: hidden;
        }

        header {
            background: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        nav ul {
            padding: 0;
            list-style: none;
        }

        nav ul li {
            display: inline-block;
            margin-right: 10px;
        }

        nav ul li a {
            color: #333;
            text-decoration: none;
        }

        nav ul li a:hover {
            color: #0099cc;
        }

        main {
            padding: 20px;
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        section {
            margin-bottom: 20px;
        }

        .lista1 {
            column-count: 2;
            column-gap: 20px;
        }

        ul {
            padding: 0;
            list-style: none;
        }

        ul li {
            padding: 10px;
            margin-bottom: 7px;
            background: #f4f4f4;
            border: 1px solid #ddd;
        }

        footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        footer img {
            width: 24px;
            height: 24px;
        }

        @media (max-width: 768px) {
            .container {
                width: 95%;
            }

            .lista1 {
                column-count: 1;
            }
        }
